.Profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: 48px;

    .desc {
      margin-top: 32px;
    }
  }

  figure img {
    height: 200px;
    border-radius: 10000px;

    @media screen and (max-width: 768px) {
      height: 150px;
    }
  }

  dl {
    dd {
      margin-bottom: 16px;
    }
  }

  p {
    width: 450px;
    line-height: 2;

    @media screen and (max-width: 768px) {
      width: auto;
    }
  }
}
