.Skills {
  > p {
    text-align: center;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      width: 30%;
      padding: 50px 30px;
      box-sizing: border-box;
      text-align: center;
      margin: 0 0 50px 0;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;

      figure img {
        width: 110px;
      }

      figcaption {
        text-align: center;
        margin: 15px 0 30px;
      }

      p {
        line-height: 1.5;
      }
    }
  }
}
