.Header {
  width: 100vw;
  padding-bottom: 30px;
  background: linear-gradient(rgb(220, 220, 220), transparent);
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
      margin: 10px 5%;
      line-height: 1.2;
    }

    span {
      color: red;

      @media screen and (min-width: 769px) {
        br {
          display: none;
        }
      }
    }
  }

  nav {
    margin-left: 20px;

    ul {
      display: flex;

      a {
        display: block;
        padding: 10px 15px;
      }
    }
  }
}
