.Thumbnails {
  width: 100%;
  padding: 20px 40px;
  background-color: skyblue;
  border-radius: 10px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      width: 33%;
      text-align: center;
      padding: 30px;

      a {
        figure {
          img {
            max-width: 100%;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
          }

          .title {
            padding: 10px 20px;
            background-color: #fff;
            border-radius: 0 0 20px 20px;
          }
        }
      }
    }
  }
}
